name: Build ISO Image

on:
  push:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
        matrix:
          arch: ['amd64']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Cache Docker image
        uses: actions/cache@v5
        with:
          path: docker_image_cache.tar
          key: ${{ runner.os }}-${{ matrix.arch }}-docker-${{ github.sha }}
          restore-keys: ${{ runner.os }}-${{ matrix.arch }}-docker-

      - name: Load or build Docker image
        run: |
          if [ -f docker_image_cache.tar ]; then
            docker load -i docker_image_cache.tar
          else
            docker build -t builder \
              https://github.com/LingmoOS-Testing/live-build-config.git
            docker save builder -o docker_image_cache.tar
          fi

      - name: Cache live-build cache
        uses: actions/cache@v5
        with:
          path: cache.tar
          key: ${{ runner.os }}-${{ matrix.arch }}-lb-${{ github.sha }}
          restore-keys: ${{ runner.os }}-${{ matrix.arch }}-lb-

      - name: Run builder
        run: |
          docker run --rm --privileged -v ${{ github.workspace }}:/work builder

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.arch }}
          path: ${{ github.workspace }}/*.iso
          compression-level: 0
          if-no-files-found: error
